stages:
- build
- test

build-gcc7:
    image: conanio/gcc7
    stage: build
#    tags:
#      - linux
    before_script:
      - echo $USER    ---   $HOME
      - echo Working directory $PWD
      - sudo apt update
      - conan remote add bincrafters https://api.bintray.com/conan/bincrafters/public-conan
      - wget -q https://github.com/Kitware/CMake/releases/download/v3.13.4/cmake-3.13.4-Linux-x86_64.tar.gz
      - mkdir -p $HOME/.local/opt
      - tar -xzf cmake-3.13.4-Linux-x86_64.tar.gz -C $HOME/.local/opt
      - export PATH=$HOME/.local/opt/cmake-3.13.4-Linux-x86_64/bin:$PATH
      #
      # Run a conan server in the artifacts/conan_server folder by
      # making a symlink at $HOME/.conan_server -> artifacts/conan_server
      - mkdir -p artifacts/{conan_server,local}
      - ln -s $PWD/artifacts/conan_server $HOME/.conan_server
      - cp .ci-files/conan_server/server.conf $HOME/.conan_server
      - conan_server &
      - sleep 3
      # Add the server as a remote
      - conan remote add local http://localhost:9300
      - conan remote list

    script:
      - echo $USER    ---   $HOME
      - echo Working directory $PWD
      - mkdir -p build && cd build
      - cmake .. -DCMAKE_INSTALL_PREFIX=/usr/local
      - cmake --build .
      - ctest
      - sudo cmake --build . --target install
      - cd ..
      - conan user -p demo demo -r=local
      - conan create . local/testing
      - conan upload foo* -r=local -c --all
      - conan search "*" -r=local
    artifacts:
      paths:
        - artifacts/*
      expire_in: 1 week

build-gcc5:
    image: conanio/gcc5
    stage: build
#    tags:
#      - linux
    before_script:
      - echo $USER    ---   $HOME
      - echo Working directory $PWD
      - sudo apt update
      - conan remote add bincrafters https://api.bintray.com/conan/bincrafters/public-conan
      - wget -q https://github.com/Kitware/CMake/releases/download/v3.13.4/cmake-3.13.4-Linux-x86_64.tar.gz
      - mkdir -p $HOME/.local/opt
      - tar -xzf cmake-3.13.4-Linux-x86_64.tar.gz -C $HOME/.local/opt
      - export PATH=$HOME/.local/opt/cmake-3.13.4-Linux-x86_64/bin:$PATH
      #
      # Run a conan server in the artifacts/conan_server folder by
      # making a symlink at $HOME/.conan_server -> artifacts/conan_server
      - mkdir -p artifacts/{conan_server,local}
      - ln -s $PWD/artifacts/conan_server $HOME/.conan_server
      - cp .ci-files/conan_server/server.conf $HOME/.conan_server
      - conan_server &
      - sleep 3
      # Add the server as a remote
      - conan remote add local http://localhost:9300
      - conan remote list

    script:
      - echo $USER    ---   $HOME
      - echo Working directory $PWD
      - mkdir -p build && cd build
      - cmake .. -DCMAKE_INSTALL_PREFIX=/usr/local
      - cmake --build .
      - ctest
      - sudo cmake --build . --target install
      - cd ..
      - conan user -p demo demo -r=local
      - conan create . local/testing
      - conan upload foo* -r=local -c --all
      - conan search "*" -r=local
    artifacts:
      paths:
        - artifacts/*
      expire_in: 1 week

test_package:
    image: conanio/gcc7
    stage: test
    dependencies:
      - build-gcc5
      - build-gcc7

    before_script:
      - ls
      - sudo apt update
      - conan remote add bincrafters https://api.bintray.com/conan/bincrafters/public-conan
      - wget -q https://github.com/Kitware/CMake/releases/download/v3.13.4/cmake-3.13.4-Linux-x86_64.tar.gz
      - mkdir -p $HOME/.local/opt
      - tar -xzf cmake-3.13.4-Linux-x86_64.tar.gz -C $HOME/.local/opt
      - export PATH=$HOME/.local/opt/cmake-3.13.4-Linux-x86_64/bin:$PATH
      #
      # Run a conan server in the artifacts/conan_server folder by
      # making a symlink at $HOME/.conan_server -> artifacts/conan_server
      - mkdir -p artifacts/{conan_server,local}
      - ln -s $PWD/artifacts/conan_server $HOME/.conan_server
      - cp .ci-files/conan_server/server.conf $HOME/.conan_server
      - conan_server &
      - sleep 3
      # Add the server as a remote
      - conan remote add local http://localhost:9300
      - conan remote list

    script:
      - echo $USER    ---   $HOME
      - echo Working directory $PWD
      - mkdir -p build && cd build
      - cmake .. -DCMAKE_INSTALL_PREFIX=/usr/local
      - cmake --build .
      - ctest
      - sudo cmake --build . --target install
      - cd ..
      - conan user -p demo demo -r=local
      - conan create . template/testing
      - conan upload cpp_library_template* -r=local -c --all
      - conan search "*" -r=local
    artifacts:
      paths:
        - artifacts/*
      expire_in: 1 week
