stages:
- test

build-gcc:
    image: lasote/conangcc7
    stage: test
    tags:
      - linux
    before_script:
      - sudo apt update
      - conan remote add bincrafters https://api.bintray.com/conan/bincrafters/public-conan
      - wget https://github.com/Kitware/CMake/releases/download/v3.13.4/cmake-3.13.4-Linux-x86_64.tar.gz
      - tar -xvzf cmake-3.13.4-Linux-x86_64.tar.gz -C /opt
      - export PATH=/opt/cmake-3.13.4-Linux-x86_64/bin:$PATH
    script:
      - mkdir -p build && cd build
      - cmake .. -DCMAKE_INSTALL_PREFIX=$HOME/local
      - cmake --build .
      - ctest
      - cmake --build . --target install
    artifacts:
      paths:
        - $HOME/local
      expire_in: 1 week
